@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

$primary-color: #faf4ff;
$secondary-color: #feb000;
$tertiary-color: #000;
$last-color: #127cbd;
$transparent-yellow: #edc03f9e;
$whites: #fff;
$secondary-text-color: rgb(32, 31, 31);
$title: 40px;
$subtitle: 30px;
$subsubtitle: 25px;
$description: 18px;
$border-color: rgb(231, 223, 223);

body {
  overflow: hidden;
  overflow-y: scroll;
  background: $primary-color;
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: sticky;
    top: 0px;
    z-index: 3;
    white-space: nowrap;
    background: $primary-color;
    .bar-logo {
      font-size: $subtitle;
      display: none;
      color: $tertiary-color;
    }
    .logo {
      cursor: pointer;
    }

    .navbar-drawer {
      height: 100vh;
      position: fixed;
      right: -350px;
      top: 0px;
      width: 300px;
      background: $tertiary-color;
      padding: 3rem 2rem;
      transition: 0.6s all ease-in;
      .cross-logo {
        font-size: $subtitle;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 2rem;
        color: $primary-color;
      }
      .drawer-links {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .dlink {
          margin-bottom: 3rem;
          font-size: $subtitle;
          color: $primary-color;
          .contact-btn {
            padding: 10px 2rem;
            color: $primary-color;
            font-size: 18px;
            border: 1px solid $whites;
            border-radius: 8px;
            background: $secondary-color;
            cursor: pointer;
          }
        }
      }
    }
    .show {
      right: 0px;
      transition: 0.6s all ease-in;
    }

    // background: $tertiary-color;
    .logo {
      color: $whites;
      font-size: 25px;
      font-weight: bold;
    }
    .nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: space-between;
      .link {
        margin-right: 2rem;
        position: relative;
        color: $tertiary-color;
        a {
          font-size: 18px;
          color: $tertiary-color;
        }
      }
      .link-btn {
        .contact-btn {
          color: $tertiary-color;
          padding: 10px 2rem;
          font-size: 18px;
          border: 1px solid $whites;
          border-radius: 8px;
          background: $secondary-color;
          cursor: pointer;
        }
      }
      .link:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: $tertiary-color;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      .link:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .hero-container {
    background-color: $secondary-color;
    display: grid;
    padding: 4.5rem 3rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    z-index: -1;
    svg {
      position: absolute;
      top: 10px;
    }
    .hero-img {
      display: block;
      margin-bottom: 2rem;
      div {
        position: relative;
        top: -20px;
      }
    }
    .hero-details {
      margin: auto;
      .welcome {
        margin: 0;
      }
      p {
        font-size: $description;
        margin-bottom: 3rem;
        margin-top: 1rem;
        color: $primary-color;
        span {
          font-size: $description;
          color: $tertiary-color;
          font-weight: bolder;
        }
      }
      span {
        color: $whites;
        font-size: $title;
        font-weight: bold;
      }

      .contact-btn {
        background: $last-color;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        color: $whites;
        font-weight: 600;
        padding: 1rem 3rem;
        cursor: pointer;
        position: relative;
        top: 0;
        transition: 0.4s all ease-in-out;
      }
      .contact-btn:hover {
        top: -20px;
        transition: 0.4s all ease-in-out;
      }
    }
    .circle {
      width: 300px;
      height: 300px;
      background: $transparent-yellow;
      border-radius: 50%;
      position: absolute;
      top: -140px;
      left: 40%;
      z-index: 0;
    }
  }

  .service-container {
    padding: 4rem 3rem;
    margin-bottom: 2rem;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;

    .service-wrapper {
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      .service-info {
        p {
          color: #01001c;
          font-size: 22px;
          font-weight: 500;
          span {
            color: #448dbb;
            font-weight: bolder;
          }
        }
        h3 {
          font-size: 40px;
          color: #00001b;
          font-weight: bolder;
        }
        .offer-line {
          width: 100px;
          height: 3px;
          background: #cebc81;
          margin-top: 0.5rem;
          margin-bottom: 1rem;
        }
      }
      .service-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .service-card {
          background: $primary-color;
          text-align: center;
          border: none;
          margin-right: 1rem;
          padding: 1rem;
          .card-section {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            p {
              font-size: 22px;
              color: #c7c7c7;
              margin-right: 1rem;
              font-weight: 600;
            }
          }
          h3 {
            white-space: nowrap;
            margin-top: 1rem;
            font-size: 20px;
            color: #000;
            text-align: left;
            font-weight: bolder;
          }
        }
        .service-card:hover {
          top: -15px;
          transition: 0.3s all ease-in;
        }
      }
    }
  }
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 3rem;
    background: #fff;
    .about-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      .about-image-container {
        .about-image1 {
          width: 250px;
          height: 250px;
          background: url("/Images/about1.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 16px;
        }
        .about-image2 {
          width: 250px;
          height: 250px;
          background: url("/Images/about2.jpg");
          background-position: right;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          left: 120px;
          top: -100px;
          border-radius: 16px;
        }
      }
      .about-description {
        p {
          font-size: 20px;
          color: #000;
          font-weight: 800;
          margin-bottom: 1rem;
          span:first-child {
            color: $secondary-color;
          }
        }
        h3 {
          font-size: 30px;
          font-weight: 500;
          color: #000;
          span {
            font-weight: bolder;
          }
        }
        .about-info {
          font-size: 18px;
          color: #a7a6a6;
          margin: 2rem 0rem;
          font-weight: 400;
        }
        .special-points {
          li {
            color: #a7a6a6;
            list-style-type: none;
            position: relative;
            margin: 2px;
            padding: 0.5em 0.5em 0.5em 2em;
            font-family: sans-serif;
          }
          li::before {
            content: " ✓";
            position: absolute;
            border-color: #000;
            border-style: solid;
            width: 25px;
            height: 25px;
            left: -0.6em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background: #127cbd;
            border: none;
          }
        }
        .discover-btn {
          padding: 10px 2rem;
          font-size: 20px;
          color: #fff;
          background: #feb000;
          border: none;
          border-radius: 8px;
          margin-top: 2rem;
          cursor: pointer;
        }
      }
    }
  }
  .contact-container {
    background: #127cbd;
    .contact-wrapper {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      gap: 1rem;
      // background: black;
      // margin: 0rem 3rem;
      padding: 4rem 3rem;
      .contact-details {
        text-align: left;
        margin: auto;
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        gap: 1rem;
        padding-bottom: 2rem;
        border-bottom: 3px solid #fff;
        .cimage-container {
          width: 350px;
          height: 250px;
          background: url(/Images/contact.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 30px;
        }
        .cdetails-container {
          .csubtitle {
            font-size: 30px;
            font-weight: 500;
          }
          h3 {
            font-size: 35px;
            font-weight: 800;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            margin-top: 1rem;
          }
        }
      }
      .contact-form {
        background: #fff;
        border: 1px solid $border-color;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

        padding: 1rem 3rem;
        h3 {
          font-size: $subsubtitle;
          margin-bottom: 1rem;
          color: $tertiary-color;
        }
        .first-column {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
        }
        input,
        textarea,
        .css-b62m3t-container {
          width: 100%;
          padding: 8px 1rem;
          font-size: $description;
          background: transparent;
          border: 1px solid $border-color;
          margin-bottom: 1rem;
          margin-top: 5px;
          color: $tertiary-color;
        }
        textarea {
          height: 100%;
        }
        input:focus {
          outline: none;
        }
        .submit-btn {
          font-size: 22px;
          padding: 10px 2rem;
          background: $secondary-color;
          border: none;
          border-radius: 5px;
          color: #ffffff;
          cursor: pointer;
          display: flex;
          margin: auto;
        }
      }
    }
  }

  .customers-container {
    text-align: center;
    padding: 1rem 5rem;
    .customer-subititle {
      font-size: 25px;
      font-weight: bolder;
      color: $tertiary-color;
      span {
        color: $secondary-color;
      }
    }
    .cctitle {
      font-size: 40px;
      font-weight: 800;
      color: $tertiary-color;
      margin-bottom: 1rem;
    }

    .cc-wrapper {
      margin-right: 1rem;
    }
    [data-index] {
      margin: 0rem 1rem;
    }
    .slick-list {
      height: 330px;
      padding: 0 20% 0 0 !important;
    }
    .slick-dots {
      bottom: 0px;
    }
    .slick-prev,
    .slick-next {
      width: 40px;
      height: 40px;
      background: #0f7bbb;
      display: flex !important;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
    .slick-prev:before,
    .slick-next::before {
      font-size: 20px;
      color: #fff;
    }
    .slick-prev {
      left: -50px;
    }
    .slick-next {
      right: -50px;
    }
    .slick-prev:active,
    .slick-next:active,
    .slick-next:hover,
    .slick-prev:hover {
      background: $secondary-color;
    }
    .ccard {
      width: 100%;
      height: 300px;
      color: white;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      position: relative;
      cursor: pointer;
    }
    .cccard1 {
      background-image: url("/Images/customer1.jpg");
    }
    .cccard2 {
      background-image: url("/Images/customer2.jpeg");
    }
    .cccard3 {
      background-image: url("/Images/customer3.jpg");
    }
    .cccard4 {
      background-image: url("/Images/customer4.jpeg");
    }

    .cc-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(31, 31, 31, 0.85);
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: all 0.3s ease;
    }

    .cc-content * {
      transform: translateY(-70%);
      transition: all 0.3s ease;
      opacity: 0;
    }

    .cc-content h2 {
      font-size: 22px;
      margin: 15px;
      font-weight: 700;
    }

    .cc-content p {
      font-size: 16px;
    }

    .ccard:hover .cc-content {
      opacity: 1;
    }

    .ccard:hover .cc-content * {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .footer-container {
    padding: 1rem 5rem;
    background: $tertiary-color;
    .footer-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;
      flex-wrap: nowrap;
      .footer-header {
        max-width: 300px;
        margin: auto;
        .footer-btn {
          font-size: 18px;
          padding: 10px 2rem;
          margin-top: 2rem;
          color: $whites;
          cursor: pointer;
          background: $secondary-color;
          border: none;
          border-radius: 6px;
          white-space: nowrap;
        }
      }
      .quick-links,
      .contact-links {
        margin: auto;
        margin-top: 2rem;
        width: 250px;
        color: $primary-color;
        h3 {
          font-size: 20px;
          color: $primary-color;
          margin-bottom: 1rem;
        }
        li {
          margin-bottom: 1rem;
          display: flex;
          a {
            color: $primary-color;
            white-space: nowrap;
          }
        }
      }
      .contact-links {
        width: 300px;
        li {
          color: $primary-color;
          svg {
            font-size: 30px;
            color: #3dbe29;
            margin-right: 1rem;
          }
        }
        li:nth-child(3) {
          svg {
            color: #bf3325;
          }
        }
        li:nth-child(4) {
          svg {
            color: #23c4ed;
          }
        }
        li:nth-child(5) {
          svg {
            color: #1faa59;
          }
        }
      }
      .newsletter {
        margin-top: 1rem;
        margin: auto;

        h3 {
          margin-bottom: 1rem;
          color: $primary-color;
        }
        p {
          color: $primary-color;
          font-size: 15px;
          margin-top: 1rem;
        }
        .news-form {
          border: 1px solid $secondary-color;
          color: $primary-color;
          display: flex;
          width: 300px;
          padding: 0rem 0.5rem;
          justify-content: space-between;
          align-items: center;
          input {
            padding: 10px 0rem;
            color: $primary-color;
            font-size: 18px;
            background: transparent;
            border: none;
            border-radius: 8px;
            margin-right: 1rem;
          }
          input:focus {
            outline: none;
          }
          button {
            padding: 10px 1rem;
            font-size: 16px;
            display: flex;
            background: $secondary-color;
            padding: 5px;
            border: none;
            border-radius: 5px;
          }
        }
      }
    }
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .copyright {
      text-align: center;
      a {
        color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  body {
    .navbar-container {
      .bar-logo {
        display: block;
      }

      .nav-links {
        display: none;
      }
    }
    .footer-container {
      .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }
    }
  }
}
@media screen and (max-width: 665px) {
  body {
    .footer-container {
      .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        .footer-header,
        .quick-links,
        .contact-links {
          max-width: 100%;
          width: 100%;
          text-align: center;
          li {
            justify-content: center;
            align-items: center;
          }
        }
        .newsletter {
          text-align: center;
          .news-form {
            margin: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  body {
    .service-container {
      .service-cards {
        grid-template-columns: 1fr 1fr;
        .service-card {
          padding-bottom: 1rem;
        }
      }
    }
    .description-points {
      hr {
        display: none !important;
      }
    }
    .contact-wrapper {
      padding: 1rem !important;
      margin: 0rem 1rem !important;
      .contact-form {
        width: 100%;
        padding: 1rem 2rem !important;
        .first-column {
          grid-template-columns: 1fr !important;
          gap: 0rem !important;
        }
      }
    }
    .about-container {
      .about-wrapper {
        grid-template-columns: 1fr;
        .about-image-container {
          margin: auto;
        }
        .about-description {
          text-align: center;
          .special-points {
            .point {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .point::before {
              left: 25%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 530px) {
  body {
    .about-container {
      .about-wrapper {
        .about-image-container {
          .about-image2 {
            margin-top: 2rem;
            left: 0px;
            top: 0px;
          }
        }
        .about-description {
          .special-points {
            .point::before {
              left: 10% !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 418px) {
  body {
    .about-container {
      .about-wrapper {
        .about-image-container {
        }
        .about-description {
          .special-points {
            .point::before {
              left: 0% !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 680px) {
  body {
    .about-container {
      .about-wrapper {
        .about-image-container {
        }
        .about-description {
          .special-points {
            .point::before {
              left: 20%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    .hero-container {
      .circle {
        display: none;
      }
    }
    .footer-container {
      text-align: center;
      .footer-wrapper {
        justify-content: center;
        .footer-links {
          flex-direction: column;
          .link {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  body {
    div {
      .hero-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        .hero-details {
          text-align: center;
        }
        .hero-img {
          width: 80%;
        }
      }
      .about-container {
        .about-header {
          flex-direction: column;
          .about-mission {
            padding: 0;
          }
          h3 {
            margin-top: 1rem;
          }
        }
        .about-description {
          #values {
            grid-template-columns: 1fr;
            .description-img {
              width: 100%;
              height: 100%;
              margin: auto;
            }
            .description-details {
              div {
                .description-details-title {
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .service-container {
        .service-cards {
          grid-template-columns: 1fr 1fr;
          .service-card {
            padding-bottom: 1rem;
          }
        }
      }
    }
    .sell-things-container {
      .sell-things-wrapper {
        .first-row {
          grid-template-columns: 1fr 1fr;
          .image-container:last-child {
            position: relative;
            left: 50%;
          }
        }
        .second-row {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
    .contact-container {
      h1,
      p {
        padding: 0rem 1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    div {
      .hero-container,
      .about-container,
      .sell-things-container,
      .service-container,
      .contact-container,
      .newsletter-container,
      .footer-container {
        padding: 1rem 1rem;
      }
      .hero-container {
        padding-top: 5rem;
      }
      .customers-container {
        padding: 1rem;
      }
      .contact-container {
        p {
          margin-bottom: 1rem;
        }
      }
      .contact-wrapper {
        padding: 0rem !important;
        margin: 0rem !important;
      }
      .sell-things-container {
        .sell-things-wrapper {
          .first-row {
            grid-template-columns: 1fr;
            .image-container:last-child {
              position: relative;
              left: 0%;
            }
          }
          .second-row {
            grid-template-columns: 1fr;
          }
        }
      }
      .newsletter-container {
        padding: 1rem;
      }
      .service-container {
        .service-cards {
          grid-template-columns: 1fr !important;
        }
      }
      .contact-container {
        h1 {
          width: 100%;
        }
        p {
          width: 100%;
        }
      }
    }
    .customers-container {
      .ccard {
        height: 200px;
      }
    }
  }
}

// New media queries

@media screen and (max-width: 1000px) {
  body {
    .contact-container .contact-wrapper {
      padding: 0rem;
      padding-left: 10px;
      .contact-details .cimage-container {
        width: 300px;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    .contact-container .contact-wrapper {
      padding: 4rem;
      grid-template-columns: 1fr;
      .contact-details .cimage-container {
        width: 300px;
        height: 250px;
      }
    }
    .service-container {
      .service-wrapper {
        grid-template-columns: 1fr;
        .service-info {
          text-align: center;
          .offer-line {
            margin: auto;
            margin-bottom: 1rem;
          }
          p:last-child {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 745px) {
  body {
    .contact-container .contact-wrapper {
      .contact-details {
        grid-template-columns: 1fr;
        .cimage-container {
          margin: auto;
        }
        .cdetails-container {
          text-align: center;
        }
      }
    }
    .service-container {
      .service-wrapper {
        gap: 1rem;
        .service-cards {
          grid-template-columns: 1fr;
          margin: auto;
          .service-card {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  body {
    .hero-container {
      padding: 4rem 2rem;
    }
    .service-container,
    .about-container,
    .footer-container {
      padding: 4rem 2rem;
    }
  }
}
